body{
    padding: 0;
    background-color: pink;
    margin: 0;
}

.titulo{
    text-align: center;
    font-size: 35px;
}

.imagen {
    width: 25%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.btn-nex{

    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}


